<div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="brand" href="#">Amazzzzon Faker</a>
          </div>
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="menu-item active"><a href="#">About </a></li>
                <ul class="nav navbar-nav">
                    <li class="menu-item"><a href="#">Contact </a></li>
                    <ul class="nav navbar-nav">
                        <li class="menu-item"><a href="#">Support <i class="fa fa-support"></i></a></li>
                        <ul class="nav navbar-nav">
                            <li class="menu-item"><a href="#">Blog <i class="fa fa-comments-o"></i></a></li>
                            <li class="menu-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="menu-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Notifications <i class="fa fa-wrench"></i></a>
                                    </li>
                                    <li class="menu-item dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit Account </a>
                                        
                                    </li>
                                    <li class="divider"></li>
                                    <li class="menu-item dropdown"><i class="fa"></i><a href="#" class="dropdown-toggle" data-toggle="dropdown">Logout <i class="fa fa-power-off padding-left-ten-px red-text"></i></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                       <!--  icon&search&login -->
                          <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="http://www.twitter.com/" title="Twitter" rel="nofollow" target="_blank">
                                    <i class="fa fa-twitter-square fa-lg twitter-blue"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.facebook.com/" title="Facebook" rel="nofollow" target="_blank">
                                    <i class="fa fa-facebook-square fa-lg facebook-blue"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.linkedin.com/" title="LinkedIn" rel="nofollow" target="_blank">
                                    <i class="fa fa-linkedin-square fa-lg linkedin-blue"></i>
                                </a>
                            </li>
                            <li>
                                <form class="navbar-search navbar-form" method="get" action="">
                                    <input type="text" class="form-control" placeholder="Search" name="s">
                                </form>
                            </li>
                            <% if user_signed_in? %>
                              <p class="navbar-text pull-right">
                              Hi <strong><%= current_user.email %></strong>.
                              <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
                              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                            <% else %>
                              <ul id="signInDropdown" class="nav navbar-nav pull-right">
                                <li class="dropdown">
                                  <button type="button" id="dropdownMenu1" data-toggle="dropdown" class="btn btn-info navbar-btn dropdown-toggle"><i class="glyphicon glyphicon-user"></i> Login <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                  <li style="width: 250px;">
                                    <%=render 'devise/sessions/new'%>
                                  </li>
                                </ul>
                                </li>
                              </ul>
                            <% end %>
                          </ul>
                       <!--  endof icon&search&login -->
                    </ul>
                </ul>
            </ul>
          </div>
        </div>
        </div>
      </div><!-- /container -->
    </div><!-- /navbar wrapper -->